.App {
  height: 210vh;
  width: 1440px;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom, #eef9ff -10%, #ade1ff);

  .BG_Header {
    width: 1440px;
    height: 773px;
    background: url("./assets/bg-header.svg");
    object-fit: contain;
    .wrapper {
      margin: 0 auto;
      width: 80%;

      nav {
        padding-top: 51px;
        display: flex;
        justify-content: center;
        align-items: center;

        .CampK12-Logo {
          width: 147px;
          height: 30px;
          object-fit: contain;
          background: url("./assets/camp-k-12-logo.svg");
          margin-right: auto;
          margin-bottom: 4px;
        }

        .Leaderboard {
          width: 34px;
          height: 34px;
          object-fit: contain;
          background: url("./assets/leaderboard.svg");
          margin-right: 16px;
        }

        .Group-36 {
          width: 34px;
          height: 34px;
          object-fit: contain;
          margin-right: 20px;
          background: url("./assets/group-36.svg");
          position: relative;
          .Oval {
            position: absolute;
            top: -7px;
            right: -7px;
            text-align: center;
            padding: 2px;
            font-size: smaller;
            width: 14px;
            height: 14px;
            background-color: #ff677f;
            border-radius: 50%;
            color: white;
          }
        }

        .Rectangle-17 {
          width: 104px;
          height: 34px;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
          background-color: #71aef3;
          margin-right: 8px;
          display: flex;
          justify-content: space-evenly;
          align-items: center;

          .Skill-Icon {
            width: 16px;
            height: 19px;
            object-fit: contain;
            background: url("./assets/skill-icon.svg");
          }

          .class-100 {
            width: 30px;
            height: 20px;
            font-family: Montserrat;
            font-size: 17px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 0.2px;
            color: #ffffff;
          }

          .Bitmap {
            width: 33.5px;
            height: 34px;
            object-fit: contain;
            background: url("./assets/group-36.svg");
          }
        }

        .Shape {
          width: 12px;
          height: 7px;
          object-fit: contain;
          background-color: #fdfdfd;
          background: url("./assets/shape.svg");
        }
      }

      header {
        display: flex;
        justify-content: space-between;
        .left {
          margin-top: 114px;

          .Welcome-to-the-school {
            width: 533px;
            height: 120px;
            font-family: Montserrat;
            font-size: 52px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.15;
            letter-spacing: 0.22px;
            color: #ffffff;
          }

          .Cutting-edge-technol {
            margin-top: 35px;
            width: 658px;
            height: 102px;
            font-family: Montserrat;
            font-size: 24px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.42;
            letter-spacing: 0.24px;
            color: #ffffff;
          }
          .Cutting-edge-technol .text-style-1 {
            color: #fcda55;
          }
          .CampK12Coins-Copy-2 {
            width: 34px;
            font-size: 0px;
            height: 34px;
            display: inline-flex;
            justify-content: flex-end;
            align-content: flex-end;
            vertical-align: bottom;
            object-fit: contain;
          }
        }
        .right {
          margin-top: 83px;
          .Header-Photo {
            width: 468px;
            height: 298px;
            object-fit: contain;
            background: url("./assets/header-photo.jpg");
          }
        }
      }

      main {
        section.one {
          // Slider Section
          .slider {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .What-do-you-want-to {
              text-align: center;
              margin-top: 84px;
              width: 454px;
              height: 44px;
              font-family: Montserrat;
              font-size: 32px;
              font-weight: 500;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.38;
              letter-spacing: 0.18px;
              text-align: center;
              color: #ffffff;
            }

            .items {
              display: flex;
              justify-content: center;
              align-items: center;

              .Background-Color {
                width: 48px;
                height: 48px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
                border: solid 1px #ebebeb;
                background-color: #ffffff;
                margin: 0 65px;
                display: flex;
                justify-content: center;
                align-items: center;
                .Shape {
                  width: 24px;
                  height: 16px;
                  object-fit: contain;
                  // background-color: #076fec;
                  background: url("./assets/back.svg");
                  &.rot {
                    transform: rotate(180deg);
                  }
                }
              }
              .Rectangle-16 {
                margin-right: 17px;
                width: 208px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 228px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
                border: solid 1px #ebebeb;
                background-color: #ffffff;
                .Group-14 {
                  width: 108px;
                  height: 108px;
                  object-fit: contain;
                  &.a {
                    background: url("./assets/aslider.svg");
                  }
                  &.b {
                    background: url("./assets/bslider.svg");
                  }
                  &.c {
                    background: url("./assets/cslider.svg");
                  }
                  &.d {
                    background: url("./assets/dslider.svg");
                  }
                }

                .name {
                  width: 160px;
                  height: 56px;
                  font-family: Montserrat;
                  font-size: 20px;
                  font-weight: normal;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.4;
                  letter-spacing: 0.2px;
                  text-align: center;
                  color: #1f2a55;
                  margin: 8px;
                }
              }
            }
          }
        }

        section.two {
          margin-top: 68px;
          // ShowCardsSection
          .ShowCardsSection {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .one {
              height: 44px;
              display: flex;
              justify-content: center;
              align-items: center;
              .Upcoming-online-cour {
                width: 420px;
                font-family: Montserrat;
                font-size: 32px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.38;
                letter-spacing: 0.18px;
                color: #1f2a55;
                margin-right: 27px;
              }

              .Rectangle {
                width: 87px;
                height: 34px;
                margin-top: 4px;
                margin-bottom: 6px;
                background-color: #de9dff;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;

                .Oval {
                  width: 8px;
                  height: 8px;
                  border-radius: 4px;
                  background-color: #ffffff;
                  margin-right: 8px;
                }

                .LIVE {
                  width: 42px;
                  height: 44px;
                  font-family: Montserrat;
                  font-size: 18px;
                  font-weight: 600;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 2.44;
                  letter-spacing: 0.1px;
                  text-align: center;
                  color: #ffffff;
                }
              }
            }
            .two {
              .Learn-from-live-teac {
                width: 746px;
                height: 26px;
                font-family: Montserrat;
                font-size: 17px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.53;
                letter-spacing: 0.2px;
                text-align: center;
                color: #777b8c;
              }
            }
            .three {
              display: flex;
              justify-content: center;
              align-items: center;
              .threea {
                .shield-3 {
                  width: 16px;
                  height: 19px;
                  object-fit: contain;
                  background: url("./assets/skill-icon.svg");
                  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
                  vertical-align: center;
                }

                .a1st-century-skill {
                  width: 278px;
                  height: 26px;
                  font-family: Montserrat;
                  font-size: 17px;
                  font-weight: normal;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.53;
                  letter-spacing: 0.2px;
                  color: #777b8c;
                }
              }

              .threeb {
                margin-left: 28px;
                .CampK12Coins-Copy-2 {
                  width: 24px;
                  height: 24px;
                  object-fit: contain;
                  vertical-align: bottom;
                }

                .coins-youll-earn {
                  width: 287px;
                  height: 26px;
                  font-family: Montserrat;
                  font-size: 17px;
                  font-weight: normal;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.53;
                  letter-spacing: 0.2px;
                  color: #777b8c;
                }
              }
            }
            .cards {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-top: 55px;
              margin-bottom: 97px;
              .card {
                margin-right: 43px;
                width: 274px;
                height: 588px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
                border: solid 1px #dbe4ee;
                background-color: #ffffff;

                .Rectangle-6 {
                  width: 274px;
                  height: 158px;
                  overflow: hidden;
                  background-position: top;
                  position: relative;
                  .Rectangle {
                    // width: 125px;
                    padding: 2px 4px;
                    height: 25px;
                    opacity: 0.4;
                    background-color: #000000;
                    position: absolute;
                    top: 14px;
                    text-align: center;
                    border-radius: 5px;
                    padding-top: 4px;
                    left: 15px;
                    .Mobile-Apps {
                      width: 106px;
                      height: 15px;
                      font-family: Montserrat;
                      font-size: 12px;
                      font-weight: 500;
                      font-stretch: normal;
                      font-style: normal;
                      line-height: normal;
                      letter-spacing: 1.71px;
                      color: #ffffff;
                    }
                  }
                }

                .Course-Name {
                  width: 242px;
                  height: 52px;
                  font-family: Montserrat;
                  font-size: 17px;
                  font-weight: 600;
                  font-stretch: normal;
                  font-style: normal;
                  line-height: 1.53;
                  letter-spacing: 0.2px;
                  color: #1f2a55;
                  margin: 16px;
                  padding-bottom: 16px;
                  border-bottom: solid 1px #e2ebef;
                }

                .grades-req {
                  display: flex;
                  justify-content: space-evenly;
                  align-items: center;
                  border-bottom: solid 1px #e2ebef;
                  padding-bottom: 16px;

                  .grades,
                  .req {
                    .one {
                      .Fill-1 {
                        // width: 13px;
                        height: 15px;
                        object-fit: contain;
                        // border: solid 0.2px #777b8c;
                        // background-color: #777b8c;
                        margin-right: 8px;
                      }

                      .GRADES {
                        // width: 54px;
                        height: 24px;
                        font-family: Montserrat;
                        font-size: 12px;
                        font-weight: 500;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 2;
                        letter-spacing: 0.17px;
                        color: #777b8c;
                      }
                      .Icon {
                        width: 14px;
                        height: 13px;
                        object-fit: contain;
                        margin-right: 8px;
                        // background-color: #777b8c;
                      }

                      .PRE-REQ {
                        width: 58px;
                        height: 24px;
                        font-family: Montserrat;
                        font-size: 12px;
                        font-weight: 500;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 2;
                        letter-spacing: 0.17px;
                        text-align: right;
                        color: #777b8c;
                      }
                    }

                    .two {
                      margin-top: 0;
                      // width: 33px;
                      height: 20px;
                      font-family: Montserrat;
                      font-size: 14px;
                      font-weight: 600;
                      font-stretch: normal;
                      font-style: normal;
                      line-height: 1.43;
                      letter-spacing: 0.2px;
                      color: #1f2a55;
                      align-self: center;
                      display: flex;
                      justify-content: center;
                      margin: 0 auto;
                    }
                  }
                }

                .skills-coins {
                  margin: 16px;
                  .skills {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    .Skill-Icon {
                      width: 16px;
                      height: 19px;
                      object-fit: contain;
                      margin-right: 16px;
                      background: url("./assets/skill-icon.svg");
                    }

                    .Background {
                      margin-right: 8px;
                      padding: 0 10px;
                      height: 24px;
                      background-color: #d3fff7;
                      border-radius: 5px;
                      flex-grow: 2;
                      .TAG-TEXT {
                        // width: 75px;
                        height: 24px;
                        font-family: Montserrat;
                        font-size: 12px;
                        font-weight: 500;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 2;
                        letter-spacing: 0.2px;
                        text-align: center;
                        color: #0bc29f;
                      }
                    }
                  }

                  .coins {
                    margin-top: 16px;
                    vertical-align: bottom;
                    margin-left: -3px;
                    svg {
                      width: 24px;
                      height: 24px;
                      margin-right: 16px;
                    }
                    .Background {
                      vertical-align: top;
                      background-color: #fff1bc;
                      flex-grow: 2;
                      font-size: 0.9em;
                      margin-right: 8px;
                      padding: 2px 10px;
                      height: 24px;
                      padding-top: 4px;
                      border-radius: 5px;
                      flex-grow: 2;
                      .TAG-TEXT {
                        color: #f4ad00;
                        display: inline;
                      }
                    }
                  }
                }

                .timetable {
                  margin: 16px 0;
                  border-bottom: solid 1px #e2ebef;

                  .date {
                    padding: 4px 0;
                    .Calender {
                      width: 15px;
                      height: 14px;
                      object-fit: contain;
                      margin-right: 20px;
                      background: url("./assets/calender.svg");
                    }

                    .Start-Date {
                      width: 202px;
                      height: 24px;
                      font-family: Montserrat;
                      font-size: 14px;
                      font-weight: 300;
                      font-stretch: normal;
                      font-style: normal;
                      line-height: 1.43;
                      letter-spacing: 0.2px;
                      color: #1f2a55;
                    }
                  }

                  .day {
                    padding: 4px 0;
                    .Icon {
                      background: url("./assets/remain.svg");
                      width: 10px;
                      height: 16px;
                      object-fit: contain;
                    }

                    .Frequency {
                      margin-left: 23px;
                      width: 202px;
                      height: 24px;
                      font-family: Montserrat;
                      font-size: 14px;
                      font-weight: 300;
                      font-stretch: normal;
                      font-style: normal;
                      line-height: 1.43;
                      letter-spacing: 0.2px;
                      color: #1f2a55;
                    }
                  }

                  .time {
                    padding: 4px 0;
                    .Icon {
                      width: 15px;
                      background: url("./assets/clock.svg");
                      height: 14px;
                      object-fit: contain;
                    }

                    .Timing {
                      margin-left: 19px;
                      // width: 202px;
                      height: 24px;
                      font-family: Montserrat;
                      font-size: 14px;
                      font-weight: 300;
                      font-stretch: normal;
                      font-style: normal;
                      line-height: 1.43;
                      letter-spacing: 0.2px;
                      color: #1f2a55;
                    }
                  }
                }

                .fees-enroll {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;

                  .Rs-6000 {
                    // width: 67px;
                    height: 18px;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 0.2px;
                    text-align: center;
                    color: #1f2a55;
                  }

                  .enroll {
                    width: 72px;
                    height: 20px;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.43;
                    letter-spacing: 2px;
                    text-align: center;
                    color: #076fec;
                  }
                }
              }
            }
          }
        }
      }
    }

    footer.Rectangle {
      width: 1440px;
      height: 41px;
      padding-top: 25px;
      padding-bottom: 22px;
      text-align: center;
      background-image: linear-gradient(82deg, #207cee -3%, #73caf3 119%);

      .Questions-Contact-u {
        width: 466px;
        height: 44px;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.2;
        letter-spacing: 0.11px;
        text-align: center;
        color: #ffffff;
      }
      .Questions-Contact-u .text-style-1 {
        font-weight: bold;
      }
    }
  }
}
