.App {
  height: 1780px;
  width: 1440px;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom, #eef9ff -10%, #ade1ff);

  .popup {
    padding: 10px;
    border: 3px solid pink;
    color: #1f2a55;
    position: fixed;
    bottom: 0;
    right: 10px;
    z-index: 1;
    &.a {
      right: 120px;
    }
  }
}
